
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
  <style>


  </style>
</head>
<body>
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
      <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/trips/my" class="nav-link active" aria-current="page">Мои путешествия</a></li>
  </ul>
  <div class="col-md-3 text-end">
    <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary me-2" onClick="window.location.href='/login'">Войти</button>
    <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary" onClick="window.location.href='/registration'">Регистрация</button>
    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-primary me-2" onClick="window.location.href='/logout'">Выйти</button>
  </div>
</header>

<div class="col-md-8 " style="margin-left:40px; margin-right:100px;">

  <article class="blog-post">
    <h2 class="blog-post-title mb-1" th:text ="${trip.place}"></h2>
    <p class="blog-post-meta">Автор: <a th:text="${authorName}" href="/users/"></a></p>
    <p class="blog-post-meta">Просмотров: <span th:text ="${trip.views}"></span></p>
    <p class="blog-post-meta">Дата поездки: <span th:text ="${trip.date}"></span></p>
    <p class="blog-post-meta">Длительность поездки: <span th:text ="${trip.duration}"></span></p>
    <p th:text ="${trip.story}"></p>
  </article>


      <nav class="blog-pagination" aria-label="Pagination">
          <a sec:authorize="isAuthenticated()"  class="btn btn-outline-primary rounded-pill" th:href="'/trips/my/'+ ${trip.id} + '/edit'">Редактировать</a>
          <br><br>
          <form sec:authorize="isAuthenticated()" th:action="'/trips/my/' + ${trip.id} + '/remove'" method="post">
          <button class="btn btn-outline-secondary rounded-pill" type="submit">Удалить</button>
          </form>
      </nav>

</div>


<footer th:insert="blocks/footer::footer"></footer>

</body>
</html>