<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<style>
    .error-text {
        color: crimson;
    }
</style>
<body class="text-center">

<div class="container mb-5">
    <h1>Регистрация</h1>
    <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
        <p>Введите имя пользователя</p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class ="error-text">Ошибка</p>
        <p th:text="${usernameError}" class ="error-text"></p>
        <input type="text" name="username" th:field="*{username}" placeholder="Имя пользователя" class="form-control">
        <br>
        <p>Придумайте пароль</p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class ="error-text">Ошибка</p>
        <input type="text" name="password" th:field="*{password}" placeholder="Пароль" class="form-control">
        <br>
        <p>Повторите пароль</p>
        <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class ="error-text">Ошибка</p>
        <p th:text="${passwordError}" class ="error-text"></p>
        <input type="text" name="passwordConfirm" th:field="*{passwordConfirm}" placeholder="Повтор пароля" class="form-control"><br>
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        <p>Уже зарегистрированы? <a href="/login">Войти</a> </p>
    </form>
</div>
<a href="/" align="center">На главную</a></p>

</body>

</html>