<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<style>
    .error-text{
        color: crimson;
    }
</style>
<body>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/trips" class="nav-link active" aria-current="page">Мои путешествия</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary me-2" onClick="window.location.href='/login'">Войти</button>
        <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary" onClick="window.location.href='/registration'">Регистрация</button>
        <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-primary me-2" onClick="window.location.href='/logout'">Выйти</button>
    </div>
</header>

<div class="container  mb-5">
    <h1>Добавление путешествия</h1>
    <form action="#" th:action="@{/trips/my/add}" th:object="${trip}" method="post">
        <br><br>
        <p>Страна поездки:</p>
        <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class ="error-text">Ошибка</p>
    <input type="text" name="country" th:field="*{country}" placeholder="Укажите страну" class="form-control">
        <br>
        <p>Основное место:</p>
        <p th:if="${#fields.hasErrors('place')}" th:errors="*{place}" class ="error-text">Ошибка</p>
    <input type="text" name="place" th:field="*{place}" placeholder="Укажите основное место, о котором хотели бы рассказать" class="form-control">
        <br>
        <p>Дата поездки:</p>
        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class ="error-text">Ошибка</p>
    <input type="month" name="date" th:field="*{date}" placeholder="Дата поездки" class="form-control">
        <br>
        <p>Длительность путешествия, дней</p>
        <p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" class ="error-text">Ошибка</p>
    <input type="number" name="duration" th:field="*{duration}" placeholder="Выберите количество дней" class="form-control">
        <br>
        <p>Описание путешествия</p>
        <p th:if="${#fields.hasErrors('story')}" th:errors="*{story}" class ="error-text">Ошибка</p>
    <textarea name="story" th:field="*{story}" placeholder="Опишите кратко ваши впечатления" class="form-control"></textarea>
        <br>
    <button type="submit" class="btn btn-success">Добавить путешествие</button>
    </form>
</div>

<footer th:insert="blocks/footer::footer"></footer>

</body>
</html>