<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/trips" class="nav-link active" aria-current="page">Мои путешествия</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary me-2" onClick="window.location.href='/login'">Войти</button>
        <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary" onClick="window.location.href='/registration'">Регистрация</button>
        <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-primary me-2" onClick="window.location.href='/logout'">Выйти</button>
    </div>
</header>

<article class="blog-post">
    <h2 align="center" class="blog-post-title">Путешествия</h2>
    <br>
    <p>В этом разделе представлен список моих путешествий с краткими сведениями о них.</p>
    <hr>
    <h2>Мои поездки</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Автор</th>
            <th>Страна</th>
            <th>Основное место</th>
            <th>Дата поездки</th>
            <th>Длительность, дней</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trip : ${allTrips}">
            <td th:text="${trip.username}"/>
            <td th:text="${trip.country}"/>
            <td th:text="${trip.place}"/>
            <td th:text="${trip.date}"/>
            <td th:text="${trip.duration}"/>
            <td th:text="${trip.story}"/>
        </tr>
        </tbody>
    </table>
</article>

<a href="/trips/add" class="btn btn-primary my-2">Добавить</a>

<footer th:insert="blocks/footer::footer"></footer>

</body>
</html>